{% extends "layout.html" %}

{% block body %}
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Videos</li>
	</ol>

	<h1>Videos</h1>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Video</th>
				<th>Concentration</th>
				<th>Mellowness</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			{% for video in videos %}
				<tr>
					<td>{{ video.id }}</td>
					<td><a href="/videos/{{ video.id }}">{{ video.name }}</a></td>
					<td>xx%</td>
					<td>xx%</td>

					<td>
						<div class="pull-right">
							<a class="btn btn-default" href="/videos/{{ video.id }}/results">Results</a>
							<a class="btn btn-primary" href="/videos/{{ video.id }}/test">Run Test</a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
